<div class= "container">
  <div class= "row">
    <div class= "col-6 offset-3">
      <%= render 'admin/items/form', item: @item %>
    </div>
    <div><%= link_to '変更を保存' admin_item_show_path(@item), class: "btn btn-lg btn-success" %></div>
  </div>
</div>