<div class="container px-5 px-sm-0">
  <div class="row">
ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。



      <%= image_tag 'shop.jpg', size:"500x250" %>
      <%= image_tag 'staff.jpg', size:"250x250" %>
  </div>
</div>